
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad65"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad66"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad82"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad83"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad91"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="faecf3cc-134a-5758-c1b6-d3d08067ad92"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="25ebb481-0353-50ad-599f-a2dc0d523049"] {
    -webkit-transform: translate3d(0, -2em, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -2em, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -2em, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -2em, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ad7adaae-be8b-7af7-872e-7d01af67e5ae"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ad7adaae-be8b-7af7-872e-7d01af67e5af"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ad7adaae-be8b-7af7-872e-7d01af67e5b0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ad7adaae-be8b-7af7-872e-7d01af67e5b1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ef17719a-afcb-bd77-5513-b5ec36e6c693"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ef17719a-afcb-bd77-5513-b5ec36e6c694"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0d0a33e2-f988-55a2-89d9-2e5bc39514d6"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0d0a33e2-f988-55a2-89d9-2e5bc39514d7"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d0078b"] {
    opacity: 0;
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d00788"] {
    -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 0;
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d0078a"] {
    -webkit-transform: translate3d(-2em, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-2em, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-2em, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-2em, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 0;
    display: block;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d00785"] {
    opacity: 0.4;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d0078b"] {
    opacity: 0;
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d00785"] {
    opacity: 0.4;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d0078b"] {
    opacity: 0;
    display: none;
  }
}
@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d00785"] {
    opacity: 0.4;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eec97cbb-d321-0b38-6bff-b618e9d0078b"] {
    opacity: 0;
    display: none;
  }
}
